<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Testing GitHub" parallel="tests" thread-count="1">
    <test name="Regression">
        <classes>
            <class name="ParametrizedTest">
                <methods>
                    <include name="checkHowManyRepositoriesThereAreOnGitHub"></include>
                </methods>
            </class>
        </classes>
    </test>
</suite>